*{
    margin:0px;
    padding: 0px;
}
/* html{
    scroll-behavior: smooth;
} */
body{
    font-family: "roboto", sans-serif;
    background-color: #f8f8f8;
    box-sizing: border-box;
    
}
.navbar .logo{
    font-weight: 800;
    font-size: 20px;
    color:#fff;
    display: flex;
    align-items: center;
}
.navbar{
    position: fixed;
    display: flex;
    padding-left: 25%;
    z-index: 999;
    transition: background-color 0.5s ease;
    width: 100%;
    height: 70px;
}
/* START bubble text for menu link */
.bubbles{
    position: relative;
    color: #FFFFFF;
    text-align: center;
    background: #3e9ff9;
    transition: all 0.4s;
 }
 
.bubbles:after{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 15px 0;
    border-color: #3e9ff9 transparent;
    display: block;
    width: 0;
    z-index: 1;
    bottom: -15px;
    left: 25px;
    transition: all 0.4s;
 }
 
 /* END  bubble text for menu link */
.bgnavbar{
    color: white;
    transition: all 0.4s;
    background-color: #0779e4;
}
.navbar ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-left: 22rem;
}
.navbar ul li{
    padding: 20px 20px;
}
.navbar ul li a{
    text-decoration: none;
    color:rgba(255, 255, 255, 0.8);
    font-weight: 500;
    font-size: 15px;
}
/* #Home11{
    background-color: #999999;
} */


/* ******************************start Home* ************************* */

.home {
    background-image: url("./img/homebg.jpg");
    background-attachment: fixed;
    height: 200vh;
    width: 100%;
    position:relative;
    box-sizing: border-box;
}
.home .presentation
{
    position: absolute;
    font-weight: 500;
    font-size: 15px;
    top: 19.5rem;
    left:28rem;
}
.slogan{
    margin-bottom:15px;
}
.home .presentation h2{
    font-weight: 400;
    font-size: 60px;
}
.home .presentation p{
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 30px;
}

.hireme{
    display: inline-block; 
    font-weight: 400; 
    line-height: 1.5; 
    color: #212529; 
    text-align: center; 
    text-decoration: none; 
    vertical-align: middle; 
    cursor: pointer;  
    background-color: transparent; 
    border: 1px solid transparent; 
    padding: 1rem 1.5rem 1rem 1.2rem ; 
    font-size: 1rem; 
    border-radius: 0.25rem; 
    color: #fff; 
    background-color: #0d6efd; 
    border-color: #0d6efd;
    font-size: 12px;  
    text-transform: uppercase; 
    letter-spacing: 1px;
    margin-right: 10px ;

}
.viewportfolio{
    display: inline-block; 
    font-weight: 400; 
    line-height: 1.5; 
    color: #212529; 
    text-align: center; 
    text-decoration: none; 
    vertical-align: middle; 
    cursor: pointer;  
    background-color: transparent; 
    border: 1px solid transparent; 
    padding: 1rem 1.5rem 1rem 1.2rem ; 
    font-size: 1rem; 
    border-radius: 0.25rem; 
    color: #0d6efd; 
    background-color: #ffff; 
    border-color: #ffff;
    font-size: 12px;  
    text-transform: uppercase; 
    letter-spacing: 1px;
    margin-right: 10px ;
}
.btn{
    margin-bottom: 4.321rem;
}
.socialmedia a{
    text-decoration: NONE;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    padding-right: 15px;
    letter-spacing: 1px;
}
/* this is fot bobble text  (Hi There) */
.bubble-text {
    position: relative;
    background: #ffffff;
    color: #0779e4;
    font-weight: 800;
    font-size: 15px;
    text-align: center;
    width: 99px;
    height: 26px;
    border-radius: 3px;
    padding-top: 5px;
    margin-bottom: 15px;
}
.bubble-text:after {
    content: '';
    position: absolute;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-color: #ffffff transparent;
    border-width: 10px 9px 0;
    bottom: -7px;
    left: 50%;
    margin-left: -9px;
}

/* End   bobble text */

.presentation .slogan span,h1{
    font-weight: 700;
    font-size: 60px;
    letter-spacing: 4px;
    color: #ffff;
}
/* *********************  END HOME   ********************* */

/* *********************  END ABOUT  ********************* */

.About{
    display: flex;
    margin: 4rem 0rem 0rem 24%;

}
.happyface {
    background-image: url("./img/happy.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 556px;
    height: 600px;
}

.about_content{
    margin-left: 2rem;
}
.about_content ul{
    margin-right: 4rem;
}
.about_content ul  li{ 
   display:inline;
   text-decoration: none;
   padding: 0 1rem 0 0;
}
.about_content ul  li a{
    text-decoration: none;
    justify-content: center;
    letter-spacing: 1.5px;
    color: #fff;
}

/* bubblt text for 'About me', 'SKiils','eXPERIENCE' */


.about_content #aboutme,#skills,#experience{
    position: relative;
    background: #0779e4;
    font-size: 11px;
    line-height: 91px;
    text-align: center;
    width: 100px;
    height: 89px;
    border-radius: 5px;
    padding: 1rem;
    color: #fff;
    margin-left: 1rem;
}
.about_content #aboutme:after,#skills:after,#experience:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-color: #0779e4 transparent;
    border-width: 10px 10px 0;
    bottom: -6px;
    left: 60%;
    margin-left: -20px;
}
.sec, .Skills, .Experience{
    width: 550px;
}

#tttl{
    color: #212529;
    margin: 2rem 0;
    font-size: 1.5rem;
    font-weight: bold;
}
.sec #ttl{
    font-size: 1.5rem;
    font-weight: bold;
}
.sec p{
    margin: 1.235rem  0;
    font-size: 15px;
    font-weight: 400;
}

.progressbar{
    display: flex;
    margin-top: 2rem;
}

/* *********** progressbar ***********  */


/* *********** progressbar1 ***********  */

/* ********* adobe photshop ********* */
.flxprogressbar1 #adbphotoshop{
    background-color: rgb(177, 176, 176);
    border-radius: 2px;
    width: 16rem;
    height: 8px;
    margin: 15px 5px 15px 0px;
}
.flxprogressbar1 #adbphotoshop div{
    position: absolute;
    background-color: #0779e4;
    border-radius: 2px;
    width: 14rem;
    height: 8px;
}
/* ********* JAva Script ********* */
.flxprogressbar1 #js{
    background-color: rgb(177, 176, 176);
    border-radius: 2px;
    width: 16rem;
    height: 8px;
    margin: 15px 5px 15px 0px;
}

.flxprogressbar1 #js div{
    position: absolute;
    background-color: #0779e4;
    border-radius: 2px;
    width: 13.5rem;
    height: 8px;
}

/* *********** progressbar2 ***********  */

/* ********* HTML  /  CSS ********* */
.flxprogressbar2{
    margin-left: 1rem;
}
.flxprogressbar2 #htmlcss{
    background-color: rgb(177, 176, 176);
    border-radius: 2px;
    width: 16rem;
    height: 8px;
    margin: 15px 5px 15px 0px;
}

.flxprogressbar2 #htmlcss div{
    position: absolute;
    background-color: #0779e4;
    border-radius: 2px;
    width: 15rem;
    height: 8px;
}
/* ********* WORDPRESS ********* */
.flxprogressbar2 #Wordpress{
    background-color: rgb(177, 176, 176);
    border-radius: 2px;
    width: 16rem;
    height: 8px;
    margin: 15px 5px 15px 0px;
}

.flxprogressbar2 #Wordpress div{
    position: absolute;
    background-color: #0779e4;
    border-radius: 2px;
    width: 14.5rem;
    height: 8px;
}


#perct1{
    margin-left: 1.5rem;
    color:#0779e4;
}
#perct2{
    margin-left: 1.5rem;
    color:#0779e4;
}
#perct3{
    margin-left: 6.5rem;  
    color:#0779e4;
}
#perct4{
    margin-left: 5.5rem;
    color:#0779e4;
}

.flxprogressbar1 span{
    font-size: 15px;
    font-weight: 400;
}
.flxprogressbar2 span{
    font-size: 15px;
    font-weight: 400;
}


.Experience {
    display: flex;
    flex-direction: column;
}
.Experience  p,span{
    padding: 15px  0px;
}
.Experience #titl{
    font-size: 20px;
    font-weight: 700;
    font-family: "roboto";
}
.Experience span,#txt{
    color: rgb(172, 172, 172);
  }
.Experience #txt{
    font-size: 19px;
    font-weight: 400;
    font-family: "roboto";
    line-height: 2.6rem;
}

/* ****************  PART 3  services  **************** */

.services{
    margin-bottom: 10rem;
    margin-top: 20rem;
}
.cards{
    display: flex;
    place-items: center;
    align-items: center;
    justify-content: center;
}
.services #serv{
    text-align: center;
    font-weight: 700;
    font-size: 13px;
    color: #0779e4;
    margin: 1.123rem 0rem;
}
.services #servp{
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 5rem;
}

.cards .card1,.card2,.card3{
    margin: 1rem 2rem;
    background-color: #fff;
    width: 300px;
    height: 400px;
}
.cards .card1 {
    margin-right: -10px;
}
.cards .card2{
    margin-right: -10px;
}

.cards h3{
    color: #0779e4;
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
    margin-left: 1.5rem;
    margin-bottom: 1rem;
}
.cards .bubble img{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25%;
    padding-top: 15%;
}
.cards p{
    color: rgb(177, 176, 176);
    font-size: 17px;
    font-weight: 200;
    margin-left: 1.5rem;
    line-height: 2rem;
}
.cards a{
    text-decoration: none;
    color: #0779e4;
    margin-left: 1.5rem;
    padding-top: 2.5rem;
}
.cards a i{
    padding: 4px 0px 0px 5px;
}
.services .cntct{
    font-size: 18px;
    font-weight: bold;
    color: rgb(131, 121, 121);
    margin-top: 2.235rem;
    text-align: center;
    margin-left: -100px;
}
.services .cntct a{
    color: #0779e4;
    text-decoration: none;
}
.services .cntcts{
    text-align: left;
    margin-left: 43rem;
    font-size: 18px;
    font-weight: 200;
    color:rgb(177, 176, 176) ;
    margin-top: 1.235rem;
    line-height: 2rem;
}

.services .bubble
{
   position: relative;
   width: 70px;
   height: 60px;
   padding: 0px;
   background: #0779e4;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   margin-top: 1.5rem;
   margin-left: 1.5rem;
}

.services .bubble:after
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 9px 9px 0;
    border-color: #0779e4 transparent;
    display: block;
    width: 0;
    z-index: 1;
    bottom: -6px;
    left: 27px;
}

/* ****************  PART 4  status  **************** */
.status{
    background-image: url("./img/statics.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px; 
    position: relative;
    bottom: 5rem;
}
div.transparant{
    background-color: rgba(7,121,228,.8);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.transparant .happycostumer,.projectcomplet,.cups{
    display: flex;
}
.status img{
    width: 70px;
    height: 70px;
    margin-right: 16px;
    padding-bottom: -60px;
}
.status  #img3{
    width: 75px;
    height: 75px;
}
.status  #img2{
    width: 80px;
    height: 80px;
}
.status p{
    color: #fff;
}
.status .number{
    font-size: 38px;
    font-weight: 700;
}
.status .slogan{
    font-size: 14px;
    font-weight: 700;
}
.status .projectcomplet{
    margin: 0px 10rem;
}

/* ****************  PART 5  Portfolio  **************** */
.portfolio{
    margin-left: 26%;
}
.portfolio h4{
    font-size: 13px;
    font-weight: 700;
    color: #0779e4;
    margin: 1.5rem 0rem 1.5rem 31%;
}
.portfolio p{
    font-size: 40px;
    font-weight: 700;
    margin: 1.5rem 0rem 1.5rem 24%;
}
.cardss {
    display: grid;
    grid-template-columns: repeat(2, 456px);
    grid-template-rows: repeat(3, 350px);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    }
    .card11,.card22,.card33,.card44,.card55,.card66{
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
    }
    .cardss img{
        width: 100%;
        height: 100%;
    }

    div.item{
        background-color: rgba(7,121,228,.8);
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    .item p{
        font-size: 20px;
        font-weight: 400;
        color: #fff;
    }
    .item h5{
        font-size: 12px;
        font-weight: 600;
        color: rgba(255, 255, 255, 0.8);
        margin-left: 42%;
    }

    
    /* *************    hover on cards  *************  */
 
    /* ******** Card11 ******** */
    .card11:hover .item{
        opacity: 1;
        transform: scale(1);
      }
      
      .item{
        position: absolute;
        background-color: rgba(255,0,0,.7);
        width: 100%;
        height: 100%;
        top: 0;
        transform: scale(1.3);
        opacity: 0;
        transition: transform .4s ease 0s;
      }

      .card11 img{
        transition: transform .8s ease;
      }
      
      .card11:hover .item{
        transform: scale(1.1);
      }
      /* ******** Card22 ******** */
      .card22:hover .item{
        opacity: 1;
        transform: scale(1);
      }
      .card22 img{
        transition: transform .8s ease;
      }
      
      .card22:hover .item{
        transform: scale(1.1);
      }
      /* ******** Card33 ******** */
      .card33:hover .item{
        opacity: 1;
        transform: scale(1);
      }
      .card33 img{
        transition: transform .8s ease;
      }
      
      .card33:hover .item{
        transform: scale(1.1);
      }
      /* ******** Card44 ******** */
      .card44:hover .item{
        opacity: 1;
        transform: scale(1);
      }
      .card44 img{
        transition: transform .8s ease;
      }
      
      .card44:hover .item{
        transform: scale(1.1);
      }
      /* ******** Card55 ******** */
      .card55:hover .item{
        opacity: 1;
        transform: scale(1);
      }

      .card55 img{
        transition: transform .8s ease;
      }
      
      .card55:hover .item{
        transform: scale(1.1);
      }
      /* ******** Card66 ******** */
      .card66:hover .item{
        opacity: 1;
        transform: scale(1);
      }

      .card66 img{
        transition: transform .8s ease;
      }
      
      .card66:hover .item{
        transform: scale(1.1);
      }

      /* ****************  PART 6  Reviews  **************** */

.carousel-countiner .carousel-track{
    display: flex;
}
.reviews-people{
  overflow: hidden; 
  width: 1500px;
  margin-left: 9%;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid red;
} 

.reviews-people h4{
        font-weight: 700;
        font-size: 13px;
        color: #0779e4;
        margin: 2rem 0px;
        text-align: center;
      }
 .reviews-people h2{
        font-weight: 700;
        font-size: 40px;
        margin: 2rem 0px;
        text-align: center;
      }
.img-carousel img{
        width: 80px;
        height: 80px;
        border-radius: 50%;
        padding-right: 16px;
     }
.img-carousel{
        display: flex;
        padding: 2rem;
     }
.items-txt{
    padding: 20px 0px 0px 7px;
}
.items-txt h3{
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 8px;
}
.items-txt h5{
    font-size: 13px;
    font-weight: 500;
    color: #0084ff;
}
.carousel-item {
    width: 330px;
    height: 308px;
    background-color: #ffffff;
    margin: 2.5rem 3rem 2.5rem 16px;
    min-width: 20%;
    justify-content:center;
     }
.carousel-item p{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.895rem;
    padding: 0px 1.8rem 2.5rem 1.8rem;
    color: #999999;
}
.img-carousel .fa-quote-left{
  position: absolute;
  background-color: #0779e4;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  margin-top: 50px;
}


.lines{
  display: flex;
  justify-content: center;
  padding-top: -35px;
}
.lines img{
  width: 90px;
  height: 100px;
}
.carousel-track{
    display: flex;
    width: 100%;
    padding-left: 15rem;
}
.carousel-track .part2{
    /* margin-left: 20%; */
    display: flex;
    position: absolute;
    margin-left: 74rem;
}


/* ****************  PART 7  Blogs  **************** */

.Blogs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Blogs h6{
    font-size: 13px;
    font-weight: 700;
    color: #0779e4;
    margin-top: 20rem;
}
.Blogs .title-blog{
    font-size: 40px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.8);
    margin: 2rem 0 4rem 0;
}
.Blogs .blogs-subject{
    display: grid;
    grid-template-columns: repeat(2, 490px);
    grid-template-rows: repeat(3, 550px);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    }
.blogs-items{
    background-color: #ffffff;
    box-shadow: 0px 10px 5px 0px rgba(217,217,217,0.76);
    border-radius: 5px;
}    
.blogs-items  img{
    width: 490px;
    height: 350px;
}
.blogcontent{
    margin: 1.8rem;
}
.blogcontent span {
    font-size: 13px;
    font-weight: 600;
    color:#999999;
}
.blogcontent span a{
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
    color: #0779e4;
}
.blogcontent a{
    text-decoration: none;
}
.blogcontent a h2{
    font-size: 20px;
    font-weight: 500;
    color: black; 
    padding: 1rem 0;  
}
.blogcontent a h2:hover{
    color: #0779e4;
    transition-delay: 200ms;
}
.blogcontent p{
    font-size: 16;
    font-weight: 400;
    color: #999999;
    line-height: 2rem;
}

/* ****************  PART 8  Prices  **************** */

.price-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.prices{
    margin-top: 17rem;
    margin-bottom: 15rem;
}
.prices h3{
    font-size: 13px;
    font-weight: 700;
    color: #0779e4;
    text-align: center;
    margin: 5rem 0 1rem 0;
}
.prices h2{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin: 0 0 3rem 0;
}
.price-content .price-items{
    width: 350px;
    height: 500px;
    box-shadow: 6px 5px 31px 0px rgba(0,0,0,0.17);
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    align-items: center;
    background-color: white;
}
.price-content .price-items h1{
    font-size: 50px;
    color: #0779e4;
    font-weight: 600;
    margin-bottom: 3rem;
}
.price-content .price-items p{
    font-size: 16px;
    font-weight: 400;
    color: #999999;
    padding:0 3rem 3rem 2rem;
    text-align: center;
    line-height: 2.5rem;
}
.price-items .original-button {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    text-decoration: none;
    color: #0779e4;
    font-size: 12px;
    font-weight: 600;
    border-radius: 5px;
    width: 199px;
    height: 50px;
    background-color: none;
    border: 1px solid #0779e4;
  }
  .price-items .original-button:hover{
    background-color: #0779e4;
    color: #fff;
  }

/* ****************  PART 9  Contact  **************** */
.contact{
    display: flex;
	flex-direction: row;
    width: 100%;
    height: 700px;
}
.contact .map{
    width: 50%;
}
.contact .contact-infos{
    width: 50%;
    background-color: #fff;
}

.contact .contact-infos .contact-personal{
    display: flex;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-bottom: 1.6rem;
}
.contact .contact-infos .contact-personal .myadress{
    margin-right: 1.5rem;
}
.contact .contact-infos .contact-personal .myemail{
    margin-right: 2rem;
}

.contact .contact-infos h3{
    font-size: 30px;
    font-weight: 4000;
    margin-left: 2rem;
    margin-top: 2rem;
    margin-bottom: 1.6rem;
}
.contact .contact-infos h4{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 2rem;
    margin-left: 2rem;
}


/* *********   form  ********* */
.contact-adress form{
    margin-left: 2rem;
}
.contact-adress form .form-row{
    display: flex;
    width: 100%;
}
.contact-adress form .form-row .formcarry-block{
    width: 100%;
}
.contact-adress form .form-row #fc-generated-1-name{
    width: 75%;
    height: 45px;
    margin-right: 15px;
}
.contact-adress form .form-row #fc-generated-1-email{
    width: 70%;
    height: 45px;
    /* margin-right: 15px; */
}
.contact-adress form .formcarry-block1 input{
    width: 85%;
    height: 45px;
    margin: 0.5rem 0;
}
.contact-adress form .formcarry-block2 textarea{
    width: 85%;
    height: 100px;
}
.contact-adress form button{
    font-family: Roboto, sans-serif;
    font-weight: 600;
    font-size: 12px;
    color: #fff;
    background-color: #0066CC;
    padding: 10px 30px;
    border: solid #0066cc 2px;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 5px;
    transition : 1000ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.contact-infos .socialmedia{
    margin-left: 2rem;
}
.contact-infos .socialmedia h2{
    font-size: 20px;
    font-weight: 400;
}
.contact-infos .socialmedia .scmedia{
    margin-right: 1rem;
    margin-top: 1rem;
}
.contact-infos .socialmedia .scmedia a{
    text-decoration: none;
    color: #0779e4;
    font-size: 13px;
    font-weight: 600;
}

/* ****************  PART 10  works  **************** */
.works{
    display: flex;
    width: 100%;
    height: 160px;
    background-color: #0779e4;
}
.works .works-sub{
    margin: 3rem 0 4rem 25rem;
}
.works .works-sub h2{
    font-size: 27px;
    font-weight: 500;
    color: #fff;
}
.works .works-sub p{
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.8);
}
.works .contactme-btn{
    margin: 3.2rem 0 4rem 5rem;
}
.works .contactme-btn button{
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    border-radius: 5px;
    width: 200px;
    height: 40px;
    border: 1px solid #ffffff;
    position: relative;
    background-color: #ffffff00;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
.works .contactme-btn button:hover{
    background-color: #fff;
    color: #000000;
}
/* ****************  PART 11  fotter  **************** */
.footer{
    display: flex;
    margin-top: 6rem;
    margin-bottom: 3rem;
    justify-content: center;
    align-items: center;
}
/* ****** foter-socialmedia  ****** */
.footer .foter-socialmedia a{
    text-decoration: none;
   
}
.footer .foter-socialmedia a h4{
    font-size: 22px;
    font-weight: 800;
    color: black;
    padding-bottom: 1.6rem;
}
.footer .foter-socialmedia p{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5rem;
    margin-bottom: 1.2rem;
}
.footer .foter-socialmedia .soacialmedias a img{
    width: 35px;
    height: 35px;
}
/* ****** foter-services  ****** */
.footer .foter-services h4{
    font-size: 18px;
    font-weight: 500;
    color: #000000;
    margin: 0 3rem 0 9rem;
}
.footer .foter-services .profession{
    display: flex;
    flex-direction: column;
    margin: 2rem 3rem 2rem 9rem;
}
.footer .foter-services .profession a{
    text-decoration: none;
    color: #666666;
    font-size: 16px;
    font-weight: 400;
}
.footer .foter-services .profession a i{
    margin: 0 6px 0 0;
}
.footer .foter-services .profession #part1{
    margin-top: 14px;
}
.footer .foter-services .profession #part2{
    margin-top: 14px;
}
.footer .foter-services .profession #part3{
    margin-top: 14px;
}
/* ****** foter-contact  ****** */
.footer .foter-contact{
    margin-left: 1.8rem;
}
.footer .foter-contact h4{
    font-size: 18px;
    font-weight: 500;
    margin-left: 5rem;
}
.footer .foter-contact .foter-contact-adress{
    margin-left: 5rem;
    margin-top: 1rem;
}
.footer .foter-contact .foter-contact-adress .adress1{
    display: flex;
}
.footer .foter-contact .foter-contact-adress .adress1 i{
    margin-right: 10px;
}
.footer .foter-contact .foter-contact-adress .adress1 span{
    font-size: 15px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.8);
    margin-top: -14px;
}
.footer .foter-contact .foter-contact-adress .adress2 i{
    margin-right: 10px;
}
.footer .foter-contact .foter-contact-adress .adress2 i{
    margin-right: 10px;
}
.footer .foter-contact .foter-contact-adress .adress2 a{
    text-decoration: none;
    font-style: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.8);
}
.footer .foter-contact .foter-contact-adress .adress3{
    margin-top: 1rem;
}
.footer .foter-contact .foter-contact-adress .adress3 i{
    margin-right: 10px;
}
.footer .foter-contact .foter-contact-adress .adress3 a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.8);
}
/* ****************  PART 12  Copyright **************** */
.copyright{
    width: 100%;
    height: 110px;
    display: flex;
    margin:auto;
    justify-content: center;
    align-items: center;
    background-color: #e9e9e9;
}

.copyright span{
    font-size: 14px;
    font-weight: 400;
}
.copyright span a{
    color: #0779e4;
    text-decoration: none;
}